@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --background-color: #ffffff; 
  --text-color: #1f1f1f;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(10,10, 10); 
    --text-color: #ffffff; 
  }
}

* {
  padding: 0;
  margin: 0;
  
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  
}

::-webkit-scrollbar {
  width: 4px;

}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

.gradient {
  background: linear-gradient(to right, rgb(247, 149, 0), rgb(248, 100, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


.poppins{
  font-family: 'Poppins', sans-serif;
}
.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.list svg{
  filter: invert(1);
}

.button3d{
  background: linear-gradient(to left, rgb(247, 149, 0), rgb(248, 100, 0));
  box-shadow: inset 0px 0px 20px 3px  black;
}

.button3dwrap{
  background: linear-gradient(to top, rgb(247, 149, 0), rgb(248, 100, 0));
  
}

.button3dwrap:hover{
  background: linear-gradient(to bottom, rgb(247, 149, 0), rgb(248, 100, 0));
  
}



.enter{
  position: relative;
  animation-name: enter;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.enter2{
  position: relative;
  animation-name: enter2;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter2 {
  0% {
    opacity: 0;
    transform: translateY(100%) translateX(-100%) scale(0.8);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
    
  }
}
.enter3{
  position: relative;
  animation-name: enter3;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter3 {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.enter4{
  position: relative;
  animation-name: enter4;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter4 {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(100%) scale(0.8);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
    
  }
}

.enter5{
  position: relative;
  animation-name: enter5;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter5 {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.enter6{
  position: relative;
  animation-name: enter6;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter6 {
  0% {
    opacity: 0;
    transform: translateY(100%) translateX(100%) scale(0.8);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
    
  }
}
.enter7{
  position: relative;
  animation-name: enter7;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter7 {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.8);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    
  }
}
.enter8{
  position: relative;
  animation-name: enter8;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enter8 {
  0% {
    opacity: 0;
    transform: translateY(0) scale(1.2);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    
  }
}



.sand{
  background-image: url(/gifs/wave.gif);
  background-position: 20% 45%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
font-weight:bolder;

}

.seprate1{
  position: relative;
  animation-name: seprate1;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes seprate1 {
  0% {
    opacity: 0;
    transform: translateY(calc(8rem+100px)) scale(1.2);
    
  }
  100% {
    opacity: 0.25;
    transform: translateY(0) scale(1);
    
  }
}
.seprate2{
  position: relative;
  animation-name: seprate2;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes seprate2 {
  0% {
    opacity: 0;
    transform: translateY(calc(4rem+50px)) scale(1.2);
    
  }
  100% {
    opacity: 0.5;
    transform: translateY(0) scale(1);
    
  }
}
.seprate3{
  position: relative;
  animation-name: seprate3;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes seprate3 {
  0% {
    opacity: 0;
    transform: translateY(-calc(4rem+50px)) scale(1.2);
    
  }
  100% {
    opacity: 0.5;
    transform: translateY(0) scale(1);
    
  }
}

.seprate4{
  position: relative;
  animation-name: seprate3;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes seprate4 {
  0% {
    opacity: 0;
    transform: translateY(-calc(8rem+100px)) scale(1.2);
    
  }
  100% {
    opacity: 0.25;
    transform: translateY(0) scale(1);
    
  }
}

.enteremo{
  position: relative;
  animation-name: enteremo;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes enteremo {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.4);
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    
  }
}

.change{
  position: relative;
  animation-name: change;
 animation-duration: 0.3s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes change {
  0% {
    opacity: 0;
    transform: translateY(-50%) ;
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) ;
    
  }
}

.appear{

  animation-name: appear;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
     ;
    
  }
  100% {
    opacity: 1;
     ;
    
  }
}

.appearcards{
  position: relative;
  animation-name: appearcards;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes appearcards {
  0% {
    opacity: 0;
    transform: translateY(50%) scale(0.7)
    
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1)
    
  }
}

.emotion1{
  position: relative;
  animation-name: emotion1;
 animation-duration: 1s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes emotion1 {
  0%{
    scale: 0;
    transform: translateY(0%) translateX(300px);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
}
50% {
  scale: 0.5;
    transform: translateY(-100%) translateX(150px);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}

100% {
  transform: translateY(0%) translateX(0px);
  scale: 1;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.8,0,1,1);
}
}

.emotion2{
  position: relative;
  animation-name: emotion2;
 animation-duration: 2.5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes emotion2 {
  0%{
    transform: translateY(0%) translateX(200%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
}
50% {
    transform: translateY(-100%) translateX(50%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}

100% {
  transform: translateY(0%) translateX(0%);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.8,0,1,1);
}
}

.emotion3{
  position: relative;
  animation-name: emotion3;
 animation-duration: 2.5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes emotion3 {
  0%{
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
}
50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}
100% {
  transform: translateY(0%);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.8,0,1,1);
}
}

.emotion4{
  position: relative;
  animation-name: emotion4;
 animation-duration: 2.5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes emotion4 {
  0%{
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
}
50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}
100% {
  transform: translateY(0%);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.8,0,1,1);
}
}

.emotion5{
  position: relative;
  animation-name: emotion5;
 animation-duration: 2.5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes emotion5 {
  0%{
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
}
50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}
100% {
  transform: translateY(0%);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.8,0,1,1);
}
}

.emotion6{
  position: relative;
  animation-name: emotion6;
 animation-duration: 2.5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;

}

@keyframes emotion6 {
  0%{
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
}
50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
}
100% {
  transform: translateY(0%);
  opacity: 0;
  animation-timing-function: cubic-bezier(0.8,0,1,1);
}
}



.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: black;
}