@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; 
  --text-color: #333333;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black; 
    --text-color: #ffffff; 
  }
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient(to right, rgb(247, 149, 0), rgb(248, 100, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
