@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient {
  background: linear-gradient(to right, #f79500, #f86400);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
