.trapeziumContainer {
    position: relative;
    transform: rotateZ(180deg);
    width: 0px;
    height: 150px;
    background: linear-gradient(to bottom, #f794002d, transparent);
    margin: 50px auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
    border-top: 5px solid #F86400; 
   
    animation: width 1s ease forwards;
  }

  @keyframes width{
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    
    }
  }